$font-menu: 'Open Sans', sans-serif;
$font-logo: 'Playfair Display', serif;
$primary-beige: #e3cac4;
$primary-violet: #6e495d;
$primary-white-beige:#e9d4ce;
$primary-green:#769ba0fb;
$primary-dark-violet: #7f3a49;
